<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maiya.dao.AuthMapper">
  <resultMap id="BaseResultMap" type="com.maiya.bean.Auth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="login_id" jdbcType="VARCHAR" property="loginId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="last_visit" jdbcType="TIMESTAMP" property="lastVisit" />
    <collection property="user" resultMap="userResult" />
  </resultMap>

  <resultMap id="userResult" type="com.maiya.bean.User">
    <id column="u_user_id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="consultant" jdbcType="VARCHAR" property="consultant" />
    <result column="consultant_id" jdbcType="BIGINT" property="consultantId" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="verification" jdbcType="VARCHAR" property="verification" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="background_icon" jdbcType="VARCHAR" property="backgroundIcon" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="privilege" jdbcType="VARCHAR" property="privilege" />
    <result column="privilegetype" jdbcType="TINYINT" property="privilegetype" />
    <result column="points" jdbcType="SMALLINT" property="points" />
    <result column="certificate" jdbcType="VARCHAR" property="certificate" />
    <result column="identity" jdbcType="TINYINT" property="identity" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, login_id, token, last_visit
  </sql>

  <select id="selectByToken" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    a.user_id,
    a.login_id,
    a.token,
    a.last_visit,
    u.privilege,
    u.privilegetype
    from auth_tbl as a , user_tbl as u
    where a.user_id = u.id
    and a.token = #{token,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from auth_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.Auth">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_tbl (user_id, login_id, token, 
      last_visit)
    values (#{userId,jdbcType=BIGINT}, #{loginId,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{lastVisit,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.Auth">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="loginId != null">
        login_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="lastVisit != null">
        last_visit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="loginId != null">
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastVisit != null">
        #{lastVisit,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.Auth">
    update auth_tbl
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="loginId != null">
        login_id = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastVisit != null">
        last_visit = #{lastVisit,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.Auth">
    update auth_tbl
    set user_id = #{userId,jdbcType=BIGINT},
      login_id = #{loginId,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      last_visit = #{lastVisit,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>