<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maiya.dao.PackProductMapper">
  <resultMap id="BaseResultMap" type="com.maiya.bean.PackProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="type" jdbcType="BIGINT" property="type" />
    <result column="is_multi_brand" jdbcType="BIT" property="isMultiBrand" />
    <result column="pack_key" jdbcType="VARCHAR" property="packKey" />
    <result column="buyer_id" jdbcType="BIGINT" property="buyerId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, status, type, is_multi_brand, pack_key, buyer_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pack_product_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pack_product_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.PackProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pack_product_tbl (name, status, type, 
      is_multi_brand, pack_key, buyer_id, 
      create_time)
    values (#{name,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{type,jdbcType=BIGINT}, 
      #{isMultiBrand,jdbcType=BIT}, #{packKey,jdbcType=VARCHAR}, #{buyerId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.PackProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pack_product_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isMultiBrand != null">
        is_multi_brand,
      </if>
      <if test="packKey != null">
        pack_key,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIGINT},
      </if>
      <if test="isMultiBrand != null">
        #{isMultiBrand,jdbcType=BIT},
      </if>
      <if test="packKey != null">
        #{packKey,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.PackProduct">
    update pack_product_tbl
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="isMultiBrand != null">
        is_multi_brand = #{isMultiBrand,jdbcType=BIT},
      </if>
      <if test="packKey != null">
        pack_key = #{packKey,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.PackProduct">
    update pack_product_tbl
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      type = #{type,jdbcType=BIGINT},
      is_multi_brand = #{isMultiBrand,jdbcType=BIT},
      pack_key = #{packKey,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>