<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maiya.dao.ProductsMapper">
  <resultMap id="BaseResultMap" type="com.maiya.bean.Products">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="brand_type" jdbcType="TINYINT" property="brandType" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sales" jdbcType="BIGINT" property="sales" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, brand, brand_type, price, icon, create_time, sales
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from products_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByBrandType" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from products_tbl
    where brand_type = #{brandType,jdbcType=TINYINT}
  </select>

  <select id="selectAllProducts" resultMap="BaseResultMap" parameterType="hashmap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    p.*
    from product_tbl as p
    where 1 = 1
    <if test="brand != null and brand != ''">
      AND  like CONCAT('%',#{brand,jdbcType=VARCHAR},'%')
    </if>
    <if test="brandType != null">
      AND brand_type = #{brandType,jdbcType=TINYINT}
    </if>
    <if test="userId != null">
      AND user_id = #{userId,jdbcType=BIGINT}
    </if>
    ORDER BY create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from products_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.Products">
    insert into products_tbl (id, user_id, brand, 
      brand_type, price, icon, 
      create_time, sales)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{brand,jdbcType=VARCHAR}, 
      #{brandType,jdbcType=TINYINT}, #{price,jdbcType=DOUBLE}, #{icon,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{sales,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.Products">
    insert into products_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="brandType != null">
        brand_type,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="sales != null">
        sales,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="brandType != null">
        #{brandType,jdbcType=TINYINT},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sales != null">
        #{sales,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.Products">
    update products_tbl
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="brandType != null">
        brand_type = #{brandType,jdbcType=TINYINT},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sales != null">
        sales = #{sales,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.Products">
    update products_tbl
    set user_id = #{userId,jdbcType=BIGINT},
      brand = #{brand,jdbcType=VARCHAR},
      brand_type = #{brandType,jdbcType=TINYINT},
      price = #{price,jdbcType=DOUBLE},
      icon = #{icon,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sales = #{sales,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>