<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maiya.dao.PromotionMapper">
  <resultMap id="BaseResultMap" type="com.maiya.bean.Promotion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="sets" jdbcType="VARCHAR" property="sets" />
    <result column="sets_id" jdbcType="BIGINT" property="setsId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_image, sets, sets_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl (id, user_id, user_image, 
      sets, sets_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userImage,jdbcType=VARCHAR}, 
      #{sets,jdbcType=VARCHAR}, #{setsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="sets != null">
        sets,
      </if>
      <if test="setsId != null">
        sets_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        #{setsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        sets = #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        sets_id = #{setsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    set user_id = #{userId,jdbcType=BIGINT},
      user_image = #{userImage,jdbcType=VARCHAR},
      sets = #{sets,jdbcType=VARCHAR},
      sets_id = #{setsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.maiya.bean.Promotion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="sets" jdbcType="VARCHAR" property="sets" />
    <result column="sets_id" jdbcType="BIGINT" property="setsId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_image, sets, sets_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl (id, user_id, user_image, 
      sets, sets_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userImage,jdbcType=VARCHAR}, 
      #{sets,jdbcType=VARCHAR}, #{setsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="sets != null">
        sets,
      </if>
      <if test="setsId != null">
        sets_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        #{setsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        sets = #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        sets_id = #{setsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    set user_id = #{userId,jdbcType=BIGINT},
      user_image = #{userImage,jdbcType=VARCHAR},
      sets = #{sets,jdbcType=VARCHAR},
      sets_id = #{setsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.maiya.bean.Promotion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="sets" jdbcType="VARCHAR" property="sets" />
    <result column="sets_id" jdbcType="BIGINT" property="setsId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_image, sets, sets_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl (id, user_id, user_image, 
      sets, sets_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userImage,jdbcType=VARCHAR}, 
      #{sets,jdbcType=VARCHAR}, #{setsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="sets != null">
        sets,
      </if>
      <if test="setsId != null">
        sets_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        #{setsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        sets = #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        sets_id = #{setsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    set user_id = #{userId,jdbcType=BIGINT},
      user_image = #{userImage,jdbcType=VARCHAR},
      sets = #{sets,jdbcType=VARCHAR},
      sets_id = #{setsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.maiya.bean.Promotion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="sets" jdbcType="VARCHAR" property="sets" />
    <result column="sets_id" jdbcType="BIGINT" property="setsId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_image, sets, sets_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl (id, user_id, user_image, 
      sets, sets_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userImage,jdbcType=VARCHAR}, 
      #{sets,jdbcType=VARCHAR}, #{setsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="sets != null">
        sets,
      </if>
      <if test="setsId != null">
        sets_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        #{setsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        sets = #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        sets_id = #{setsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    set user_id = #{userId,jdbcType=BIGINT},
      user_image = #{userImage,jdbcType=VARCHAR},
      sets = #{sets,jdbcType=VARCHAR},
      sets_id = #{setsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.maiya.bean.Promotion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="sets" jdbcType="VARCHAR" property="sets" />
    <result column="sets_id" jdbcType="BIGINT" property="setsId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_image, sets, sets_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl (id, user_id, user_image, 
      sets, sets_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userImage,jdbcType=VARCHAR}, 
      #{sets,jdbcType=VARCHAR}, #{setsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="sets != null">
        sets,
      </if>
      <if test="setsId != null">
        sets_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        #{setsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        sets = #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        sets_id = #{setsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    set user_id = #{userId,jdbcType=BIGINT},
      user_image = #{userImage,jdbcType=VARCHAR},
      sets = #{sets,jdbcType=VARCHAR},
      sets_id = #{setsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.maiya.bean.Promotion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="sets" jdbcType="VARCHAR" property="sets" />
    <result column="sets_id" jdbcType="BIGINT" property="setsId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_image, sets, sets_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl (id, user_id, user_image, 
      sets, sets_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userImage,jdbcType=VARCHAR}, 
      #{sets,jdbcType=VARCHAR}, #{setsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="sets != null">
        sets,
      </if>
      <if test="setsId != null">
        sets_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        #{setsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        sets = #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        sets_id = #{setsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    set user_id = #{userId,jdbcType=BIGINT},
      user_image = #{userImage,jdbcType=VARCHAR},
      sets = #{sets,jdbcType=VARCHAR},
      sets_id = #{setsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.maiya.bean.Promotion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="sets" jdbcType="VARCHAR" property="sets" />
    <result column="sets_id" jdbcType="BIGINT" property="setsId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_image, sets, sets_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from promotion_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl (id, user_id, user_image, 
      sets, sets_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userImage,jdbcType=VARCHAR}, 
      #{sets,jdbcType=VARCHAR}, #{setsId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.Promotion">
    insert into promotion_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="sets != null">
        sets,
      </if>
      <if test="setsId != null">
        sets_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        #{setsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="sets != null">
        sets = #{sets,jdbcType=VARCHAR},
      </if>
      <if test="setsId != null">
        sets_id = #{setsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.Promotion">
    update promotion_tbl
    set user_id = #{userId,jdbcType=BIGINT},
      user_image = #{userImage,jdbcType=VARCHAR},
      sets = #{sets,jdbcType=VARCHAR},
      sets_id = #{setsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>