<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiya.dao.UserTblMapper" >
  <resultMap id="BaseResultMap" type="com.maiya.bean.UserTbl" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="consultant" property="consultant" jdbcType="VARCHAR" />
    <result column="consultant_id" property="consultantId" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="verification" property="verification" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="privilege" property="privilege" jdbcType="VARCHAR" />
    <result column="privilegetype" property="privilegetype" jdbcType="TINYINT" />
    <result column="points" property="points" jdbcType="SMALLINT" />
    <result column="identity" property="identity" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.maiya.bean.UserTblWithBLOBs" extends="BaseResultMap" >
    <result column="background_icon" property="backgroundIcon" jdbcType="LONGVARCHAR" />
    <result column="certificate" property="certificate" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, consultant, consultant_id, phone_number, verification, password, avatar, 
    email, privilege, privilegetype, points, identity
  </sql>
  <sql id="Blob_Column_List" >
    background_icon, certificate
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_tbl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_tbl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.maiya.bean.UserTblWithBLOBs" >
    insert into user_tbl (id, name, consultant, 
      consultant_id, phone_number, verification, 
      password, avatar, email, 
      privilege, privilegetype, points, 
      identity, background_icon, certificate
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{consultant,jdbcType=VARCHAR}, 
      #{consultantId,jdbcType=BIGINT}, #{phoneNumber,jdbcType=VARCHAR}, #{verification,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{privilege,jdbcType=VARCHAR}, #{privilegetype,jdbcType=TINYINT}, #{points,jdbcType=SMALLINT}, 
      #{identity,jdbcType=TINYINT}, #{backgroundIcon,jdbcType=LONGVARCHAR}, #{certificate,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maiya.bean.UserTblWithBLOBs" >
    insert into user_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="consultant != null" >
        consultant,
      </if>
      <if test="consultantId != null" >
        consultant_id,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="verification != null" >
        verification,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="privilege != null" >
        privilege,
      </if>
      <if test="privilegetype != null" >
        privilegetype,
      </if>
      <if test="points != null" >
        points,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="backgroundIcon != null" >
        background_icon,
      </if>
      <if test="certificate != null" >
        certificate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="consultant != null" >
        #{consultant,jdbcType=VARCHAR},
      </if>
      <if test="consultantId != null" >
        #{consultantId,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="verification != null" >
        #{verification,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="privilege != null" >
        #{privilege,jdbcType=VARCHAR},
      </if>
      <if test="privilegetype != null" >
        #{privilegetype,jdbcType=TINYINT},
      </if>
      <if test="points != null" >
        #{points,jdbcType=SMALLINT},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=TINYINT},
      </if>
      <if test="backgroundIcon != null" >
        #{backgroundIcon,jdbcType=LONGVARCHAR},
      </if>
      <if test="certificate != null" >
        #{certificate,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiya.bean.UserTblWithBLOBs" >
    update user_tbl
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="consultant != null" >
        consultant = #{consultant,jdbcType=VARCHAR},
      </if>
      <if test="consultantId != null" >
        consultant_id = #{consultantId,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="verification != null" >
        verification = #{verification,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="privilege != null" >
        privilege = #{privilege,jdbcType=VARCHAR},
      </if>
      <if test="privilegetype != null" >
        privilegetype = #{privilegetype,jdbcType=TINYINT},
      </if>
      <if test="points != null" >
        points = #{points,jdbcType=SMALLINT},
      </if>
      <if test="identity != null" >
        identity = #{identity,jdbcType=TINYINT},
      </if>
      <if test="backgroundIcon != null" >
        background_icon = #{backgroundIcon,jdbcType=LONGVARCHAR},
      </if>
      <if test="certificate != null" >
        certificate = #{certificate,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.maiya.bean.UserTblWithBLOBs" >
    update user_tbl
    set name = #{name,jdbcType=VARCHAR},
      consultant = #{consultant,jdbcType=VARCHAR},
      consultant_id = #{consultantId,jdbcType=BIGINT},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      verification = #{verification,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      privilege = #{privilege,jdbcType=VARCHAR},
      privilegetype = #{privilegetype,jdbcType=TINYINT},
      points = #{points,jdbcType=SMALLINT},
      identity = #{identity,jdbcType=TINYINT},
      background_icon = #{backgroundIcon,jdbcType=LONGVARCHAR},
      certificate = #{certificate,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiya.bean.UserTbl" >
    update user_tbl
    set name = #{name,jdbcType=VARCHAR},
      consultant = #{consultant,jdbcType=VARCHAR},
      consultant_id = #{consultantId,jdbcType=BIGINT},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      verification = #{verification,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      privilege = #{privilege,jdbcType=VARCHAR},
      privilegetype = #{privilegetype,jdbcType=TINYINT},
      points = #{points,jdbcType=SMALLINT},
      identity = #{identity,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>